version: '3.8'

services:
  apache:
    build: .
    container_name: php-apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    networks:
      - php-net
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: musik
      MYSQL_DATABASE: musik
      MYSQL_USER: musik
      MYSQL_PASSWORD: musik
      MYSQL_ROOT_HOST: '%'
    command: --sql_mode=""
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - php-net

  redis:
    image: redis:7
    container_name: airflow-redis
    networks:
      - php-net

  airflow-webserver:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    container_name: airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: CeleryExecutor
      AIRFLOW__CORE__FERNET_KEY: 'kZ8TuhOOb-iufR6CX4powdJW85FBSGaK_JWvDKfoIOY='
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: mysql+mysqlconnector://musik:musik@db/musik
      AIRFLOW__CELERY__BROKER_URL: redis://redis:6379/0
      AIRFLOW__CELERY__RESULT_BACKEND: db+mysql+mysqlconnector://musik:musik@db/musik
    depends_on:
      - db
      - redis
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    ports:
      - "8081:8080"
    networks:
      - php-net

  airflow-scheduler:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    container_name: airflow-scheduler
    environment:
      AIRFLOW__CORE__EXECUTOR: CeleryExecutor
      AIRFLOW__CORE__FERNET_KEY: 'kZ8TuhOOb-iufR6CX4powdJW85FBSGaK_JWvDKfoIOY='
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: mysql+mysqlconnector://musik:musik@db/musik
      AIRFLOW__CELERY__BROKER_URL: redis://redis:6379/0
      AIRFLOW__CELERY__RESULT_BACKEND: db+mysql+mysqlconnector://musik:musik@db/musik
    depends_on:
      - airflow-webserver
      - db
      - redis
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    networks:
      - php-net

volumes:
  db_data:

networks:
  php-net:
    driver: bridge
