version: '3.3'

services:
  apache:
    image: php:7.4-apache
    container_name: php-apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    networks:
      - php-net
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: musik
      MYSQL_DATABASE: musik
      MYSQL_USER: root
      MYSQL_PASSWORD: musik
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - php-net

volumes:
  db_data:

networks:
  php-net:
    driver: bridge

